{% import "_includes/forms" as forms %}

<div class="lottie-field">
    {% set assetId = value.assetId ?? null %}
    {% set asset = assetId ? craft.assets.id(assetId).one() : null %}

    {{ forms.elementSelectField({
        label: "Lottie Animation File"|t('craft-lottie'),
        instructions: "Select or upload a Lottie JSON file from your assets"|t('craft-lottie'),
        id: id,
        name: name ~ '[assetId]',
        elementType: 'craft\\elements\\Asset',
        sources: field.defaultUploadLocationSource ? [field.defaultUploadLocationSource] : '*',
        selectionLabel: "Select Lottie File"|t('craft-lottie'),
        criteria: {
            filename: ['*.json']
        },
        limit: 1,
        elements: asset ? [asset] : [],
        viewMode: 'list'
    }) }}
</div>
