{% import "_includes/forms" as forms %} {% set volumeOptions = [] %} {% for
volume in craft.app.volumes.allVolumes %} {% set volumeOptions =
volumeOptions|merge([{ label: volume.name, value: 'volume:' ~ volume.uid }]) %}
{% endfor %}

<div class="field">
  {{ forms.field({
    label: "Default Upload Location"|t('craft-lottie'),
    instructions: "The default location where uploaded Lottie files will be stored."|t('craft-lottie'),
    id: 'default-upload-location'
}, forms.select({
    id: 'default-upload-location-source',
    name: 'defaultUploadLocationSource',
    options: volumeOptions,
    value: field.defaultUploadLocationSource
}) ~ forms.text({
    id: 'default-upload-location-subpath',
    class: 'ltr',
    name: 'defaultUploadLocationSubpath',
    value: field.defaultUploadLocationSubpath,
    placeholder: 'path/to/subfolder'|t('app')
})) }}

  {{ forms.lightswitchField({
    label: "Enable Color Editing"|t('craft-lottie'),
    instructions: "Allow users to modify colors in the animation."|t('craft-lottie'),
    id: 'enableColorEditing',
    name: 'enableColorEditing',
    on: field.enableColorEditing ?? true
}) }}

  {{ forms.lightswitchField({
    label: "Enable Speed Control"|t('craft-lottie'),
    instructions: "Allow users to adjust animation playback speed."|t('craft-lottie'),
    id: 'enableSpeedControl',
    name: 'enableSpeedControl',
    on: field.enableSpeedControl ?? true
}) }}
</div>
